torch==2.3.1

# This block of dependencies must be frozen this way due to dependency compatibility issues.
numpy==1.26.4
nnunetv2==2.5.1
acvl_utils==0.2.5
blosc2==3.0.0b4

argparse
huggingface_hub
pathlib
